<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../viewsPartials/headPro'); %>
</head>


<!-- ***************************************************************** -->

<body>
    <header>
        <%- include('../viewsPartials/headerPro'); %>
    </header>
    <div>
        <hr>
        <br>
        <div>
            <table>
                <tr>
                    <th>|Intitulé de l'actualité </th>
                    <th>|Date de Création </th>
                </tr>
                <tr>
                    <td>1-1</td>
                    <td>1-2</td>
                    <td> <input type="radio" name="selection" /> </td>
                </tr>
                <tr>
                    <td>2-1</td>
                    <td>2-2</td>
                    <td> <input type="radio" name="selection" /> </td>
                </tr>
                <tr>
                    <td>3-1</td>
                    <td>3-2</td>
                    <td> <input type="radio" name="selection" /> </td>
                </tr>
            </table>

        </div>
        <br>
        <hr>
        <br>
        <div class="button">
            <button type="submit">Ajouter une Actualité</button>
            <button type="submit">Modifier une Actualité</button>
            <button type="submit">Supprimer une Actualité</button>
        </div>
        <br>
        <hr>
    </div>

    <!---------------- Actions / Logique de la page  ---------------->

    <div>
        <a href="/professionnel">Abandonner</a>
    </div>

    <footer>
        <%- include('../viewsPartials/footerPro'); %>
    </footer>

    <!-- ***************************************************************** -->

</body>

</html>