<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../viewsPartials/headPro'); %>
</head>

<!-- ***************************************************************** -->

<body>
    <header>
        <%- include('../viewsPartials/headerPro'); %>
    </header>
    <div>
        <hr>
        <li>Fil actu entreprises</a>
        </li>
        <br>
    </div>
    <hr>
    <div>
        <br>
        <li>Derniers Inscrits</a>
        </li>
        <hr>
    </div>
    <footer>
        <%- include('../viewsPartials/footerPro'); %>
    </footer>
</body>
<!-- ***************************************************************** -->

</html>