<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='../stylesheets/styleAccueil.css' />
    <link rel='shortcut icon' type="image/png" href='/images/favicon.png' />
</head>

<body>

    <h1>Bienvenue sur Jobdate !</h1>
    <hr><br>
    <h2>
        <a href="http://localhost:3000/professionnel">
            <%= lien1 %>
        </a>
    </h2>

</body>

</html>