<meta charset="UTF-8">
<html lang="fr">

<!-- Ce fichier gère le head de du headerPro -->

<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='shortcut icon' type="image/png" href='/images/favicon.png' />
<style>
    body {
        padding-top: 50px;
    }
</style>
<title>
    <%= title %>
</title>