<!-- Ce fichier ne gère que le headerPro !! -->

<nav class="HeaderPro">
    <li class="champHeaderPro"><a href="/professionnel">Accueil</a></li>
    <li class="champHeaderPro"><a href="/professionnel/profil">Editer Le Profil</a></li>
    <li class="champHeaderPro"><a href="/professionnel/depotoffre">Dépot D'offre</a></li>
    <li class="champHeaderPro"><a href="/professionnel/gestionoffre">Gestion Des Offres</a></li>
    <li class="champHeaderPro"><a href="/professionnel/recherche">Recherche Candidat</a></li>
    <li class="champHeaderPro"><a href="/professionnel/messagerie">Messagerie</a></li>
    <li class="champHeaderPro"><a href="/professionnel/filactualite">Fil D'actualités</a></li>
</nav>
<!-- liens vers futures fenetre modales ou pages classiques -->
<p>
    <li class="champHeaderPro"><a href="/professionnel/publicationfilactualite">Publier un Fil D'actualités</a></li>
    <li class="champHeaderPro"><a href="/professionnel/profilCandidatVuePro">Affichage profil candidat cote pro</a></li>
    <!-- <li class="champHeaderPro"><a href="/professionnel/profilCandidatVueProPopupF-Modale">Fenetre Modale</a></li> -->
</p>
<hr>