body,
html {
    margin: 0;
    padding: 0;
}

* {
    /* "*" veut dire qu'on applique ce code css à tout le document */
    /* pour que le padding soit toujours pris en compte dans le calucul des largeurs */
    box-sizing: border-box;
}

.modal {
    /* .modal est l'élément global qui permet l'affichage de la boite sur l'entiereté de la fenetre */
    position: fixed;
    /* ---------- Centrer l'affichage de la fenetre : -------- */
    display: flex;
    /* Alignement sur Y */
    align-items: center;
    /* Alignement sur X */
    justify-content: center;
    /* ----------EO Centrer l'affichage de la fenetre : -------- */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* creation d'un background avec opacité à 80% */
    background: rgba(0, 0, 0, 0.8);
}

.modal-wrapper {
    background-color: whitesmoke;
    /* Largeur de la fenetre : */
    width: 800px;
    padding: 20px;
    /* largeur maxi :
    100vw : veut dire largeur totale de l'écran
    Ci dessous on calcule la largeur de lécran - 20px :  */
    max-width: calc(100vw - 20px);
    /* hauteur maxi :
    100vh : veut dire hauteur totale de l'écran
    Ci dessous on calcule la hauteur de lécran - 20px :  */
    max-height: calc(100vh - 20px);
    /* En cas de débordement "overflow" permet d'afficher une scroll bar */
    overflow: auto;
}

body {
    margin-top: 150px;
    margin-left: 250px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url("../images/fond_jobdate_bleu.jpg");
    background-attachment: fixed;
}

.HeaderPro {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    color: red;
}

.champHeaderPro {
    color: rgb(30, 221, 23);
    text-align: center;
}

#titreVertical {
    transform: rotate(-0deg);
    text-align: center;
}

#coordonneesCandidat,
#formationCandidat,
#contactCandidat,
#experienceCandidat {
    border: 1px dotted black;
}


/* Nommage des plages pour la grid du profilCandidatVueProPopup */

#coordonneesCandidat {
    grid-area: coordonneesCandidat;
}

#contactCandidat {
    grid-area: contactCandidat;
}

#formationCandidat {
    grid-area: formationCandidat;
}

#experienceCandidat {
    grid-area: experienceCandidat;
}


/* definition de la grid profilCandidatVueProPopup */

.gridArea_profilCandidatVueProPopup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas: "coordonneesCandidat experienceCandidat" "formationCandidat experienceCandidat" "contactCandidat experienceCandidat";
    text-align: justify;
}